@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #0B0817;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}